// main.styl
@import '../../node_modules/vuetify/src/stylus/settings/_colors'

@import './colorfilter.styl'

$theme := {
  primary: $blue.darken-2
  accent: $blue.accent-2
  secondary: $grey.darken-3
  info: $blue.base
  warning: $amber.base
  error: $red.base
  success: $green.base
}

.noevents{
	pointer-events: none !important;
}

.noselect{
	user-select: none;
}

.events{
  pointer-events: auto; 
}
.allevents{
	pointer-events: all;	
}

@import '../../node_modules/vuetify/src/stylus/main'